{% extends "base.html" %}

{% block title %}Historial del Docente{% endblock %}

{% block content %}
    <h1 class="mt-4">Historial del Docente</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Historial del Docente</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            DataTables es un plugin de terceros que genera esta tabla. Para más info, visita 
            <a target="_blank" href="https://datatables.net/">la documentación oficial</a>.
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Historial de Formaciones
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Formación</th>
                        <th>Estado</th>
                        <th>Observación</th>
                        <th>Periodo</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Formación</th>
                        <th>Estado</th>
                        <th>Observación</th>
                        <th>Periodo</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for formacion in formaciones %}
                    <tr>
                        <td>{{ formacion.id_usuario.nombre }}</td>
                        <td>{{ formacion.id_formacion.nombre }}</td>
                        <td>{{ formacion.estado }}</td>
                        <td>{{ formacion.observacion }}</td>
                        <td>{{ formacion.periodo }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No hay formaciones registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
{% endblock %}
