.change-list .results {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

/* mover la barra arriba */
.change-list .results::-webkit-scrollbar {
    height: 8px;
    position: absolute;
    top: 0;
}
